In [1]:
import pandas as pd

# Reading data

In [2]:
df=pd.read_csv('data.csv')

In [3]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0   98.221292         0   52          1          -1              1
1   98.264223         0   99          1           0              0
2   98.813007         0   33          1          -1              0
3  101.343503         1   66          0           0              1
4   98.202733         0   28          1           0              0

In [4]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2570  101.032207         0   48          1           1              1
2571   98.431047         1   69          1          -1              0
2572  101.622975         1   90          0           0              1
2573  101.421976         0   78          1           1              0
2574  101.321688         1   33          0           1              1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2575 entries, 0 to 2574
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2575 non-null   float64
 1   bodyPain       2575 non-null   int64
 2   age            2575 non-null   int64
 3   runnyNose      2575 non-null   int64
 4   diffBreath     2575 non-null   int64
 5   infectionProb  2575 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 120.8 KB

In [6]:
df['diffBreath'].value_counts()

 1    877
 0    863
-1    835
Name: diffBreath, dtype: int64

In [7]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000
mean,100.003374,0.482718,50.946408,0.502136,0.016311,0.500194
std,1.158970,0.499798,29.031456,0.500093,0.815381,0.500097
min,98.000185,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.983230,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,100.010521,0.000000,51.000000,1.000000,0.000000,1.000000
75%,101.005236,1.000000,76.000000,1.000000,1.000000,1.000000
max,101.999854,1.000000,100.000000,1.000000,1.000000,1.000000

# Train Test Splitting